:host {
  background: linear-gradient(180deg, var(--theme-primary) 0%, var(--theme-primary-dark) 100%);
  height: 100dvh;
  display: block;
  .app-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    position: fixed;
    width: 100dvw;
    background-color: var(--theme-overlay);
    left: 0;
    top: 0;
    z-index: 9999;
    color: var(--theme-white);
    flex-direction: column;
  }
}
