// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #ecb301 0%, #cd9a01 100%);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.form-control:focus, .form-control, .form-select {
  background-color: #faf6e6;
  color: #7f620a;
  border-color: #f6e6b7;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgb(217 163 1 / 30%);
}

.card {
  /* --bs-card-title-color: ;
    --bs-card-subtitle-color: ; */
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-box-shadow: 0 0 0 0.25rem rgb(217 163 1 / 30%);
  --bs-card-cap-bg: #fff1c5;
  --bs-card-cap-color: #201a1b;
  --bs-card-color: #201a1b;
  --bs-card-bg: #fff8e1;
  color: #7f620a;
  background-color: #fff8e1;
  border: var(--bs-card-border-width) solid #fff8e1;
}

.modal {
  --bs-modal-bg: var(--bs-warning-bg-subtle);
  --bs-modal-color: #7f620a;
  /* 
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-box-shadow: var(--bs-box-shadow-sm);
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-footer-bg: var(--bs-warning-bg);
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width); */
}
